h1{
	text-align: center;
	color: #294860;
}
body {
	font-family: Helvetica;
}
h2 {
	margin: 10px;
}
.lesson {
	background-color: #294860;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 10px;
}
.concept{
	background-color: #DFEAF1;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}
.concept-title {
	font-size: 20px;
	margin: 8px;
	text-align: center;
	color: #294860;
}
.concept-description{
	font-weight: lighter;
	margin: 6px;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}